<p id="notice"><%= notice %></p>

<h1>New Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Login</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @new_users.each do |new_user| %>
      <tr>
        <td><%= new_user.name %></td>
        <td><%= new_user.email %></td>
        <td><%= new_user.login %></td>
        <td><%= link_to 'Show', new_user %></td>
        <td><%= link_to 'Edit', edit_new_user_path(new_user) %></td>
        <td><%= link_to 'Destroy', new_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New New User', new_new_user_path %>
