<%= simple_form_for(@order_group) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :order_date %>
    <%= f.association :user %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
