<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<!-- <p>
  <strong>Image:</strong>
  <%= @product.image %>
</p> -->

<td><%= image_tag(@product.image_url) %></td>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
